<div class="modal_body">
    <div class="modal_header">
        <span class="modal_title"><%= modal_title %></span>
        <div class="itf_icons_container large modal_close ModalClose">
            <span class="icon_svg_container large"><svg><use href="#close-modal"></use></svg></span>
        </div>
    </div>

    <div class="modal_content modal_flex">

        <div class="modal_flex__column">
            <h2><%= modal_alarm %></h2>
        </div>

    </div>

    <div class="modal_footer">
        <span class="itf_submit medium <%= submit_class %>"> Да </span>
    </div>

</div>