<div class="notification <%- type %>">

    <div class="notification_attention">
        <span class="icon_svg_container notification_icon medium">
            <svg><use xlink:href="
                <% if ( type == 'success' ) { %>#check<% } else { %>#exclamation<% } %>
            "></use></svg>
        </span>
    </div>

    <div class="notification_text">
        <%- text %>
    </div>

</div>