
/*HEADER*/
.site_header {
    position: fixed;
    width: 100%;
    height: 110px;
    /*opacity: 0;*/
  }
.row_wrap {
    margin-top: 20px;
}
.site_header .row_wrap {
    display: flex;
    justify-content: center;
}
a.header_menu {
    display: inline-block;
    margin: auto 8px;
    text-decoration: none;
    font-family: Circe, Regular, sans-serif;
    font-size: 15px;
    color: #ffffff;
}
.header_logo img{
    height: 30px;
    margin: auto 10px;

}

/*<div class="SITE_WRAP">*/

/*POST_UNDERHEAD*/
.post_underhead {
    height: 767px;
    background-color: #0c0c0c; /*фото почему-то не поставить - пишет (404)*/

}
.post_underhead .content {
    padding-top: 296px;

}
.header {
    display: flex;
    justify-content: center;
}
.header_title {
    height: 141px;
    align-self: center;
    display: flex;
    width: 60.7%;
    flex-wrap: wrap;
    justify-content: center;
}
.post_underhead h1{
    font-family: Circe, ExtraBold, sans-serif;
    font-size: 59px;
    color: #ffffff;
    margin: 0;
}
.post_underhead .subtitle {
    font-family: Vollkorn, Regular;
    font-size: 20px;
    color: #ffffff;
}

