<div class="itf_settings SettingsMenu">

    <div class="itf_settings__menu">

        <div class="itf_settings__menu_item MenuTab current" data-tab="test">
                    <span class="icon_svg_container large">
                        <svg><use xlink:href="#cogs"></use></svg>
                    </span>
            <span class="itf_settings__item_name">
                         Test
                    </span>
        </div>

        <div class="itf_settings__menu_item MenuTab" data-tab="main">
                    <span class="icon_svg_container large">
                        <svg><use xlink:href="#cogs"></use></svg>
                    </span>
            <span class="itf_settings__item_name">
                         Вкладка 1
                    </span>
        </div>

        <div class="itf_settings__menu_item MenuTab" data-tab="colors">
                    <span class="icon_svg_container large">
                        <svg><use xlink:href="#palette"></use></svg>
                    </span>
            <span class="itf_settings__item_name">
                        Вкладка 2
                     </span>
        </div>

        <div class="itf_settings__menu_item MenuTab" data-tab="pickers">
                    <span class="icon_svg_container large">
                        <svg><use xlink:href="#palette"></use></svg>
                    </span>
            <span class="itf_settings__item_name">
                        Пикеры
                     </span>
        </div>

        <div class="itf_menu_toggle ToggleArrowOnClick">
                    <span class="icon_svg_container large">
                        <svg><use xlink:href="#chevron-circle-left"></use></svg>
                    </span>
        </div>
    </div>

    <!------------------------------------header-menu-line--------------------------------->


    <div class="itf_settings__line">
        <div class="itf_settings__line_item ExpandOnClick">
            <span class="icon_svg_container large"><svg><use xlink:href="#angle-double-down"></use></svg> </span>
            <span class="ExpandSettings">Развернуть всё</span>
        </div>
        <div class="itf_settings__line_item CollapseOnClick">
            <span class="icon_svg_container large"><svg><use xlink:href="#angle-double-up"></use></svg></span>
            <span class="CollapseSettings">Свернуть всё</span>
        </div>
        <div class="itf_settings__update UpdateSettings">
            <span class="icon_svg_container small"><svg><use xlink:href="#check"></use></svg></span>
            <span class="itf_settings__update_text">Сохранить настройки</span>
        </div>
    </div>

    <!------------------------------------content--------------------------------->
    <div class="itf_settings__tabs_wrapper">

        <div class="itf_settings__tabs_content MenuContent current" data-tab="test">

            <div class="SettingsPart">
                <h2 class="itf_settings__tabs_title SlideOnClick">
                    Test 1
                    <span class="icon_svg_container large"><svg><use xlink:href="#icon_arrow_down"></use></svg></span>
                </h2>
                <div class="itf_settings__content_part SlideContainer">

                    <%- ejs.render( jQuery('#test1').html(), {} ); %>

                </div>
            </div>

            <div class="SettingsPart">
                <h2 class="itf_settings__tabs_title SlideOnClick">
                    Test 2
                    <span class="icon_svg_container large"><svg><use xlink:href="#icon_arrow_down"></use></svg></span>
                </h2>
                <div class="itf_settings__content_part SlideContainer">

                </div>
            </div>

        </div>

        <div class="itf_settings__tabs_content MenuContent" data-tab="main">

            <div class="SettingsPart">
                <h2 class="itf_settings__tabs_title SlideOnClick">
                    Часть 1
                    <span class="icon_svg_container large"><svg><use xlink:href="#icon_arrow_down"></use></svg></span>
                </h2>
                <div class="itf_settings__content_part SlideContainer">

                    <div class="itf_dropdown ChooseTemplateToSend">

                        <div class="itf_dropdown__field FrameWorkFields"
                             data-name="list"
                             data-value="new_order"
                             data-placeholder=""
                             data-type="select"
                        >Новый заказ</div>

                        <div class="itf_dropdown__arrow icon_svg_container medium">
                            <svg>
                                <use href="#icon_arrow_down"></use>
                            </svg>
                        </div>

                        <div class="itf_dropdown__list">
                            <div class="itf_dropdown__row disabled">Выберите шаблон</div>

                            <div class="itf_dropdown__row checked"
                                 data-value="new_order"
                            >
                                <div class="itf_radio small"></div>
                                <span class="itf_dropdown__row_html">Новый заказ</span>
                            </div>

                            <div class="itf_dropdown__row"
                                 data-value="admin_notification"
                            ><div class="itf_radio small"></div><span class="itf_dropdown__row_html">Письмо администратору</span></div>


                            <div class="itf_dropdown__row checked ListDataClass"
                                 data-value="new_order"
                                 data-type="select"
                                 data-name="mail_1"
                            >
                                <div class="itf_check icon_svg_container small">
                                    <svg>
                                        <use href="#check"></use>
                                    </svg>
                                </div>
                                <span class="itf_dropdown__row_html">Новый заказ</span>
                            </div>

                            <div class="itf_dropdown__row ListDataClass"
                                 data-value="admin_notification"
                                 data-type="select"
                                 data-name="mail_2"
                            >
                                <div class="itf_check icon_svg_container small">
                                    <svg>
                                        <use href="#check"></use>
                                    </svg>
                                </div>
                                <span class="itf_dropdown__row_html">Письмо администратору</span>
                            </div>

                            <div class="itf_dropdown__row ListDataClass"
                                 data-value="password_recovery"
                                 data-type="select"
                                 data-name="mail_3"
                            >
                                <div class="itf_check icon_svg_container small">
                                    <svg>
                                        <use href="#check"></use>
                                    </svg>
                                </div>
                                <span class="itf_dropdown__row_html">Восстановление пароля</span>
                            </div>

                            <div class="itf_dropdown__row ListDataClass"
                                 data-value="week_stats"
                                 data-type="select"
                                 data-name="mail_4"
                            >
                                <div class="itf_check icon_svg_container small">
                                    <svg>
                                        <use href="#check"></use>
                                    </svg>
                                </div>
                                <span class="itf_dropdown__row_html">Данные за неделю</span>
                            </div>
                        </div>

                    </div>

                    <div class="settings_field_container">
                        <div class="regular_field_description">Настройки котика</div>
                        <span
                                class="regular_field FrameWorkFields"
                                contenteditable="true"
                                spellcheck="false"
                                data-type="text"
                                data-name="cat"
                                data-placeholder="'@'"
                        >КОт</span>
                    </div>

                </div>
            </div>

            <div class="SettingsPart">
                <h2 class="itf_settings__tabs_title SlideOnClick">
                    Часть 2
                    <span class="icon_svg_container large"><svg><use xlink:href="#icon_arrow_down"></use></svg></span>
                </h2>
                <div class="itf_settings__content_part SlideContainer">

                    <div class="itf_table_container">
                        <div class="itf_table">
                            <div class="itf_table__header">
                                <div class="table__cell">Icon</div>
                                <div class="table__cell">Name</div>
                                <div class="table__cell">Value</div>
                            </div>

                            <div class="table__row">
                                <div class="table__cell">
                                    <span class="icon_svg_container medium"><svg><use href="#check"></use></svg></span>
                                </div>
                                <div class="table__cell">Dog</div>
                                <div class="table__cell">123456</div>
                            </div>

                            <div class="table__row">
                                <div class="table__cell">
                                    <span class="icon_svg_container medium"><svg><use href="#check"></use></svg></span>
                                </div>
                                <div class="table__cell">Cat</div>
                                <div class="table__cell">123456</div>
                            </div>

                            <div class="table__row">
                                <div class="table__cell">
                                    <span class="icon_svg_container medium"><svg><use href="#check"></use></svg></span>
                                </div>
                                <div class="table__cell">Bee</div>
                                <div class="table__cell">123456</div>
                            </div>

                        </div>
                    </div>

                    <div class="itf_dropdown dropTable" data-type="single_select">
                            <span
                                    class="itf_dropdown__field FrameWorkFields"
                                    data-type="select"
                                    data-name="icon_char"
                                    data-value=""
                            >testest</span>
                        <div class="itf_dropdown__arrow icon_svg_container medium">
                            <svg>
                                <use href="#icon_arrow_down"></use>
                            </svg>
                        </div>
                        <span class="itf_dropdown__preview">
                                <svg><use href=""></use></svg>
                            </span>
                        <div class="itf_dropdown__list">
                                <span class="itf_dropdown__cell"
                                      data-value="icon_arrow_down" data-active="true"><svg><use href="#icon_arrow_down"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="palette" data-active="true"><svg><use href="#palette"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="svg-logo" data-active="true"><svg><use href="#svg-logo"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="check" data-active="true"><svg><use href="#check"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="check" data-active="true"><svg><use href="#check"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="check" data-active="true"><svg><use href="#check"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="check" data-active="true"><svg><use href="#check"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="check" data-active="true"><svg><use href="#check"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="check" data-active="true"><svg><use href="#check"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="check" data-active="true"><svg><use href="#check"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="check" data-active="true"><svg><use href="#check"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="check" data-active="true"><svg><use href="#check"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="check" data-active="true"><svg><use href="#check"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="check" data-active="true"><svg><use href="#check"></use></svg></span>
                            <span class="itf_dropdown__cell"
                                  data-value="check" data-active="true"><svg><use href="#check"></use></svg></span>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="itf_settings__tabs_content MenuContent" data-tab="colors">

            <div class="SettingsPart">
                <h2 class="itf_settings__tabs_title SlideOnClick">
                    Часть 3
                    <span class="icon_svg_container large"><svg><use xlink:href="#icon_arrow_down"></use></svg></span>
                </h2>
                <div class="itf_settings__content_part SlideContainer">

                    <div class="settings_field_container">
                        <div class="regular_field_description">Описание 5</div>
                        <span
                                class="regular_field MailSettingField"
                                contenteditable="true"
                                spellcheck="false"
                                data-type="text"
                                data-name="support_mail"
                                data-placeholder="Настройка 5"
                        ></span>
                    </div>

                    <div class="settings_field_container">
                        <div class="regular_field_description">Описание 6</div>
                        <span
                                class="regular_field MailSettingField"
                                contenteditable="true"
                                spellcheck="false"
                                data-type="text"
                                data-name="company_name"
                                data-placeholder="Настройка 6"
                        ></span>
                    </div>

                </div>
            </div>

            <div class="SettingsPart">
                <h2 class="itf_settings__tabs_title SlideOnClick">
                    Часть 4
                    <span class="icon_svg_container large"><svg><use xlink:href="#icon_arrow_down"></use></svg></span>
                </h2>
                <div class="itf_settings__content_part SlideContainer">

                    <div class="settings_field_container">
                        <div class="regular_field_description">Описание 7</div>
                        <span
                                class="regular_field MailSettingField"
                                contenteditable="true"
                                spellcheck="false"
                                data-type="text"
                                data-name="sletat_site"
                                data-placeholder="Настройка 7"
                        ></span>
                    </div>

                    <div class="settings_field_container">
                        <div class="regular_field_description">Описание 8</div>
                        <span
                                class="regular_field MailSettingField"
                                contenteditable="true"
                                spellcheck="false"
                                data-type="text"
                                data-name="sletat_modules"
                                data-placeholder="Настройка 8"
                        ></span>
                    </div>

                </div>
            </div>

        </div>

        <div class="itf_settings__tabs_content MenuContent" data-tab="pickers">

            <div class="SettingsPart">
                <h2 class="itf_settings__tabs_title SlideOnClick">
                    ColorPicker
                    <span class="icon_svg_container large"><svg><use xlink:href="#icon_arrow_down"></use></svg></span>
                </h2>
                <div class="itf_settings__content_part SlideContainer">

                    <div class="settings_field_container">
                        <div class="regular_field_description">Цвет</div>
                        <span class="choose_color ChooseColor" style="background-color:#000000;"></span>
                        <span
                                class="regular_field FrameWorkSettings ColorPicker"
                                contenteditable="true"
                                spellcheck="false"
                                data-type="text"
                                data-name="color_1"
                                data-placeholder="#000000"
                        ></span>
                    </div>

                    <div class="settings_field_container">
                        <div class="regular_field_description">Цвет 2</div>
                        <span class="choose_color ChooseColor" style="background-color:#00bb00;"></span>
                        <span
                                class="regular_field FrameWorkSettings ColorPicker"
                                contenteditable="true"
                                spellcheck="false"
                                data-type="text"
                                data-name="color_2"
                                data-placeholder="#00bb00"
                        ></span>
                    </div>

                </div>
            </div>

            <div class="SettingsPart">
                <h2 class="itf_settings__tabs_title SlideOnClick">
                    Color Picker
                    <span class="icon_svg_container large"><svg><use xlink:href="#icon_arrow_down"></use></svg></span>
                </h2>
                <div class="itf_settings__content_part SlideContainer">

                    <div class="settings_field_container">
                        <div class="regular_field_description">День</div>
                        <input
                                class="regular_field FrameWorkSettings DateDay datepicker-here"
                                data-type="input"
                                type="text"
                                name="date_day"
                                data-placeholder="07.12.98"
                                data-date-format="timestamp"
                        >
                    </div>

                    <div class="settings_field_container">
                        <div class="regular_field_description">Месяц</div>
                        <input
                                class="regular_field FrameWorkSettings DateMonth datepicker-here"
                                data-view="months"
                                data-type="input"
                                type="text"
                                data-name="date_month"
                                data-placeholder="03.89"
                        >
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>